body 
{ 
  background-color: #DDD; 
  margin: 0px; 
  line-height: 140%  
}

div#body
{
  padding:50px;
  min-height:500px;
}

div#headerNav
{
  display: block;
  width:100%;
  height:30px;
  background-color:#222;
  margin-bottom:20px;
}

div#controlbar
{  
   position:relative;
   display: block;/*table-cell;*/
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   height: 90px;
   text-align: right;
   padding-right: 1em;
   padding-left: 0.5em;
   margin-left:0%;
   margin-right:0%;
   border-bottom:1px solid fff;
   background: #2c2c2c; /* Old browsers */
   background: -moz-linear-gradient(top,  #141414 0%, #2d2d2d 15%, #1c1c1c 65%, #131313 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(15%,#2d2d2d), color-stop(65%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #141414 0%,#2d2d2d 15%,#1c1c1c 65%,#131313 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #141414 0%,#2d2d2d 15%,#1c1c1c 65%,#131313 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #141414 0%,#2d2d2d 15%,#1c1c1c 65%,#131313 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #141414 0%,#2d2d2d 15%,#1c1c1c 65%,#131313 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
;*/
   z-index:10;

}

div#controlbar #bottom
{
  width:100%;
  border-top:1px solid #2d2d2d;
}


div#controlbar #pnSearch
{
  margin-left:7%;
}

div#controlbar .chooser
{
  float:left;
 /* padding:20px;*/
}

div#controlbar .separator
{
  float:left;
  border-left:1px solid #EEE;
  height:40px;
  margin-top:25px;  
}

/*
div#logoAndPn
{
  float:left;
}
*/

div#logo
{
 margin:20px 20px 0px;
 font-size: 2em;
 font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
}

div#pnSearch
{

}

div#controlbar div#pnSearchFormDiv, div#vehicleSelectFormDiv, div#pnAdderFormDiv
{
  padding:20px 20px 8px 20px;
}

div#controlbar select.vehicleSelection
{
  width:150px;
}

div#controlbar div#vehicleSelectExtension
{
  position:relative;
  height:100%;
  
  width:190px;
  margin-top:0px;
  background-color:#131313;
  z-index:1;
}

div#controlbar select.partAddSelection
{
  width:150px;
}

div#mainContainer
{
  position:absolute;
  width:88%;
  margin-top: 10px;
  padding-left: 6%;
  padding-right: 6%;
  height:1px;
  z-index:-1;
}

div#topbar
{
  width:100%;
  margin-top:0px;
  height:30px;
  background-color:#051;
}

div#topbar div#logo
{
  float:left;
  margin:0px 20px 0px 6%;
  padding-top:4px;
  width:200px;
  color:#FAFAFA;
}

div#topbar div#slogan
{
  float:left;
  margin-left:80px;
  font-size:14px;
  font-family:Arial, Helvetica, sans-serif;
  margin-right:60px;
  padding-top:5px;
  color:#F2FFF2;
}

div#topbar h3
{
  margin-top:0%;
  margin-left:6%;
  margin-bottom:0px;
  font-size:25px;
}

div#topbar div#user
{
  width:200px;
  float:right;
  margin-right:6%;
  text-align:right;
}

div#body
{
  position:relative;
  float:left;
  width:58%;
  background-color:#FAFAFA;
  border: 1px solid #666;
  min-height: 400px;
  z-index:-1;
/*  border-radius: 8px;*/
}

div#rightBar
{
  float:left;
  width:28%;
  margin-left:10px;
  background-color:#FAFAFA;
  border: 1px solid #666;
  min-height: 800px;
 /* border-radius: 8px;*/
}

div#rightBar .divHeader
{
  width:100%;
  margin-top:0%;
  margin-bottom:15px;
  margin-right:0px;
  margin-left:0px;
  height:30px;
  background-color:#222;
/*  border:1px solid #BBB;
*/
}

div#partSearchResults
{
/*  list-type:none;
  list-style-type:none;
*/
  width:90%;
  float:right;
}

td,tr.partRow
{
  /*float:left;
  display:block;
  border:1px solid green;
  width:150px;*/
  padding:0px 15px 0px;
}

ul#partRowHeader
{
  list-type:none;
  list-style-type:none;
}

ul#partRowHeader li
{
  float:left;
  display:block;
  width:150px;
  border:1px solid blue;
  margin:0px 10px 0px;
}



nav.control
{  display: block;/*table-cell;*/
   background-color: #333;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   height: 20%;
   text-align: right;
   padding-right: 1em;
   padding-left: 0.5em;
   white-space: nowrap;
   moz-border-radius: 10px;
}

nav.controlbar > span.self
{  display: block;
   color: orange;
   border: thin solid transparent;
   margin-top: 1.5em;
   padding-right: 0.5em;
   border-radius: 10px;
}

nav.controlbar > a:link:last-child
{  margin-bottom: 1.5em;
}

nav.controlbar > a:link
{  display: block;
   text-decoration: none;  
   color: white;
   border: thin solid transparent;
   margin-top: 2em;
   padding-right: 0.5em;
}

nav.controlbar > a:hover
{
   border: thin solid white;
}
*/
section#main > article#content
{  display: table-cell;
   width: 70%;
   background-color: white;
   padding: 2em;
}

tr,th.odd 
{
  background-color:#EEE;
}

tr.even
{
  background-color:#DDD;
}

.error { color: #a00; }
